#invite-wrapper {
    width: 50%;
    padding: 25px;
    background-color: rgb(60, 20, 100);
    color: #ffffff;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#invite-text {
    width: 78%;
}

#itinerary {
    text-align: center;
}
