#gallery-container {
    display: block;
    position: fixed;
    background-color: beige;
    width: 100%;
    height: 10em;
    text-align: center;
}

#gallery-figures {
    display: inline-block;
    align-items: center; 
    top: 30em;

}

#gallery-header {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}

img {
    display: inline-block;
    height: 200px;
}